Repository biocypher/karenina: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, vulture

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.2
    hooks:
      - id: ruff
        args: [--fix]
        files: ^(src/|tests/)
      - id: ruff-format
        files: ^(src/|tests/)

  # Type checking with mypy using local environment
  - repo: local
    hooks:
      - id: mypy
        name: mypy-type-check
        entry: uv run mypy
        language: system
        files: ^src/
        types: [python]
        pass_filenames: false
        args: [src/karenina]

      - id: vulture
        name: vulture-dead-code
        entry: uv run vulture
        language: system
        files: ^src/
        args: [src/karenina]

  # Note: pytest-testmon available via 'make test-changed' command
  # Excluded from pre-commit due to 0-test runs being treated as modifications

test(schemas): migrate VerificationResultMetadata fixtures to failure+caveats
  tests/unit/schemas/scenario/test_result_metadata.py
  tests/unit/schemas/test_api_design_fixes.py
  tests/unit/schemas/test_model_identity.py
  tests/unit/schemas/test_verification_result.py
  tests/unit/schemas/test_verification_result_set_issues.py
  tests/unit/schemas/verification/test_result_metadata_transient.py
  tests/unit/test_rubric_results_deep_judgment.py
Due: none

test(pipeline): migrate stage-level tests to failure+caveats shape
  tests/unit/benchmark/test_task_eval.py
  tests/unit/benchmark/verification/stages/test_finalize_transient.py
  tests/unit/benchmark/verification/stages/test_result_preservation.py
  tests/unit/benchmark/verification/test_executor.py
  tests/unit/benchmark/verification/test_executor_hang.py
Due: none

test(scenario): migrate scenario manager tests to failure+caveats
  tests/unit/scenario/test_evaluation_mode_warning.py
  tests/unit/scenario/test_manager.py
  tests/unit/scenario/test_manager_turn_retry.py
  tests/unit/scenario/test_state_update_safety.py
Due: none

test(core,utils,integration): migrate I/O and integration fixtures to failure+caveats
  tests/integration/test_cache_optimization_integration.py
  tests/integration/test_deep_judgment_rubric_pipeline.py
  tests/integration/test_deep_judgment_rubric_real_api.py
  tests/integration/test_new_trait_system.py
  tests/integration/verification/test_pipeline_orchestration.py
  tests/integration/verification/test_pipeline_robustness.py
  tests/unit/benchmark/core/test_results_io_issues.py
  tests/unit/benchmark/core/test_results_run_name.py
  tests/unit/benchmark/test_results_io_issues.py
  tests/unit/utils/test_progressive_save_manager.py
Due: none

fix(pipeline): reject impostor FinalizeResult stages at construction
  src/karenina/benchmark/verification/stages/core/orchestrator.py
  tests/integration/verification/test_pipeline_orchestration.py
Due: mypy, vulture

refactor(replay): keep CONTENT failures under only_successful=True
  docs/advanced-pipeline/replay-store.md
  docs/notebooks/advanced/pipeline/replay-store.ipynb
  src/karenina/replay/capture.py
  tests/replay/test_capture.py
Due: mypy, vulture

feat(error-analysis): add case renderer frontmatter + QA structural body
  src/karenina/benchmark/error_analysis/case_renderer.py
  tests/unit/benchmark/error_analysis/fixtures.py
  tests/unit/benchmark/error_analysis/test_case_renderer_frontmatter.py
Due: mypy, vulture

feat(error-analysis): add exception hierarchy
  src/karenina/benchmark/error_analysis/__init__.py
  src/karenina/benchmark/error_analysis/exceptions.py
  src/karenina/exceptions.py
  tests/unit/benchmark/error_analysis/__init__.py
  tests/unit/benchmark/error_analysis/test_exceptions.py
Due: mypy, vulture

feat(error-analysis): implement trace conversion pipeline in case renderer
  src/karenina/benchmark/error_analysis/case_renderer.py
  tests/unit/benchmark/error_analysis/test_case_renderer_trace.py
Due: mypy, vulture

feat(error-analysis): implement full materializer.build()
  src/karenina/benchmark/error_analysis/__init__.py
  src/karenina/benchmark/error_analysis/materializer.py
  tests/unit/benchmark/error_analysis/test_materializer_build.py
Due: mypy, vulture

refactor(error-analysis): thread benchmark_name through _write_index
  src/karenina/benchmark/error_analysis/materializer.py
Due: mypy, vulture

feat(error-analysis): opt-in claude-code launcher
  src/karenina/benchmark/error_analysis/launchers/claude_code.py
  tests/unit/benchmark/error_analysis/test_launcher_claude_code.py
Due: mypy, vulture

feat(error-analysis): render scenario runs with per-turn sections
  src/karenina/benchmark/error_analysis/case_renderer.py
  tests/unit/benchmark/error_analysis/test_case_renderer_scenario.py
Due: mypy, vulture

refactor(error-analysis): accept str paths and cover launcher/prompt options
  src/karenina/benchmark/error_analysis/facade.py
  tests/unit/benchmark/error_analysis/test_facade.py
Due: mypy, vulture

feat(error-analysis): analyze_errors facade
  src/karenina/benchmark/error_analysis/__init__.py
  src/karenina/benchmark/error_analysis/facade.py
  tests/unit/benchmark/error_analysis/test_facade.py
Due: mypy, vulture

fix(error-analysis): raise on case_filename edge cases
  src/karenina/benchmark/error_analysis/materializer.py
  tests/unit/benchmark/error_analysis/test_materializer_partition.py
Due: mypy, vulture

style(error-analysis): lower analyze-errors register ImportError to debug
  src/karenina/cli/__init__.py
Due: mypy, vulture

docs(error-analysis): new workflow page + cross-references
  docs/advanced-pipeline/error-handling.md
  docs/core_concepts/results-and-scoring.md
  docs/core_concepts/scenarios/index.md
  docs/workflows/analyzing-results/error-analysis.md
  docs/workflows/analyzing-results/index.md
  mkdocs.yml
Due: none

feat(error-analysis): launcher protocol, registry, prepare-only default
  src/karenina/benchmark/error_analysis/__init__.py
  src/karenina/benchmark/error_analysis/launcher.py
  src/karenina/benchmark/error_analysis/launchers/__init__.py
  src/karenina/benchmark/error_analysis/launchers/prepare_only.py
  tests/unit/benchmark/error_analysis/test_launcher.py
Due: mypy, vulture

feat(error-analysis): karenina analyze-errors CLI command
  src/karenina/cli/__init__.py
  src/karenina/cli/analyze_errors.py
  tests/unit/cli/test_analyze_errors.py
Due: mypy, vulture

feat(error-analysis): partition results + filename rules
  src/karenina/benchmark/error_analysis/materializer.py
  tests/unit/benchmark/error_analysis/test_materializer_partition.py
Due: mypy, vulture

feat(error-analysis): packaged default prompt + placeholder substitution
  pyproject.toml
  src/karenina/benchmark/error_analysis/prompt_io.py
  src/karenina/benchmark/error_analysis/prompts/__init__.py
  src/karenina/benchmark/error_analysis/prompts/default_prompt.md
  tests/unit/benchmark/error_analysis/test_prompt_io.py
Due: mypy, vulture

feat(error-analysis): add INDEX.md builder
  src/karenina/benchmark/error_analysis/indexer.py
  tests/unit/benchmark/error_analysis/test_indexer.py
Due: mypy, vulture

fix(error-analysis): capture stderr and wrap timeout in claude-code launcher
  src/karenina/benchmark/error_analysis/launchers/claude_code.py
  tests/unit/benchmark/error_analysis/test_launcher_claude_code.py
Due: mypy, vulture

feat(error-analysis): materialize verification failures into review cases + claude-code launcher (#159)
  docs/advanced-pipeline/error-handling.md
  docs/core_concepts/results-and-scoring.md
  docs/core_concepts/scenarios/index.md
  docs/workflows/analyzing-results/error-analysis.md
  docs/workflows/analyzing-results/index.md
  mkdocs.yml
  pyproject.toml
  src/karenina/benchmark/error_analysis/__init__.py
  src/karenina/benchmark/error_analysis/case_renderer.py
  src/karenina/benchmark/error_analysis/exceptions.py
  src/karenina/benchmark/error_analysis/facade.py
  src/karenina/benchmark/error_analysis/indexer.py
  src/karenina/benchmark/error_analysis/launcher.py
  src/karenina/benchmark/error_analysis/launchers/__init__.py
  src/karenina/benchmark/error_analysis/launchers/claude_code.py
  src/karenina/benchmark/error_analysis/launchers/prepare_only.py
  src/karenina/benchmark/error_analysis/materializer.py
  src/karenina/benchmark/error_analysis/prompt_io.py
  src/karenina/benchmark/error_analysis/prompts/__init__.py
  src/karenina/benchmark/error_analysis/prompts/default_prompt.md
  src/karenina/cli/__init__.py
  src/karenina/cli/analyze_errors.py
  src/karenina/exceptions.py
  tests/unit/benchmark/error_analysis/__init__.py
  tests/unit/benchmark/error_analysis/fixtures.py
  tests/unit/benchmark/error_analysis/test_case_renderer_frontmatter.py
  tests/unit/benchmark/error_analysis/test_case_renderer_scenario.py
  tests/unit/benchmark/error_analysis/test_case_renderer_trace.py
  tests/unit/benchmark/error_analysis/test_exceptions.py
  tests/unit/benchmark/error_analysis/test_facade.py
  tests/unit/benchmark/error_analysis/test_indexer.py
  tests/unit/benchmark/error_analysis/test_launcher.py
  tests/unit/benchmark/error_analysis/test_launcher_claude_code.py
  tests/unit/benchmark/error_analysis/test_materializer_build.py
  tests/unit/benchmark/error_analysis/test_materializer_partition.py
  tests/unit/benchmark/error_analysis/test_prompt_io.py
  tests/unit/cli/test_analyze_errors.py
Due: mypy, vulture

chore: add types-PyYAML and drop stale type: ignore comments
  pyproject.toml
  src/karenina/benchmark/error_analysis/case_renderer.py
  tests/unit/benchmark/error_analysis/test_case_renderer_frontmatter.py
  tests/unit/benchmark/error_analysis/test_case_renderer_scenario.py
  tests/unit/benchmark/error_analysis/test_materializer_build.py
  uv.lock
Due: mypy, vulture

fix(scenario): parse bracketed agent_ids and synthesize QA-only turns
  src/karenina/scenario/trace_materialization.py
  tests/unit/scenario/test_trace_materialization.py
Due: mypy, vulture

fix(error-analysis): drop LLM Response section when trace is present; support QA-only traces
  tests/unit/benchmark/error_analysis/test_case_renderer_trace.py
Due: none

feat(error-analysis): use real Benchmark API in materializer with stub fallback
  src/karenina/benchmark/error_analysis/materializer.py
  tests/unit/benchmark/error_analysis/test_materializer_real_benchmark.py
Due: mypy, vulture

feat(error-analysis): accept runs-dict result payloads and expose run_timestamp
  src/karenina/benchmark/error_analysis/facade.py
  src/karenina/benchmark/error_analysis/prompt_io.py
  tests/unit/benchmark/error_analysis/test_facade.py
  tests/unit/benchmark/error_analysis/test_prompt_io.py
Due: mypy, vulture

feat(error-analysis): ship RUBRIC_GUIDE.md alongside PROMPT.md
  src/karenina/benchmark/error_analysis/indexer.py
  src/karenina/benchmark/error_analysis/prompt_io.py
  src/karenina/benchmark/error_analysis/prompts/rubric_guide.md
  tests/unit/benchmark/error_analysis/test_prompt_io.py
Due: mypy, vulture

docs(error-analysis): expand default analyst prompt with diagnostic guidance
  src/karenina/benchmark/error_analysis/prompts/default_prompt.md
Due: vulture

Tighten abstention and sufficiency judge prompts
  src/karenina/benchmark/verification/prompts/trace/abstention.py
  src/karenina/benchmark/verification/prompts/trace/sufficiency.py
Due: mypy, vulture

fix(langchain): size recursion_limit to actual graph topology
  src/karenina/adapters/langchain/agent.py
Due: mypy, vulture

feat(extend-judgment): unify re-judging across judges, answerers, and replicates
  src/karenina/benchmark/benchmark.py
  src/karenina/benchmark/verification/batch_runner.py
  src/karenina/benchmark/verification/extension.py
  src/karenina/schemas/verification/config.py
  tests/test_benchmark_extend_judgment.py
Due: mypy, vulture

docs: add Extending Runs concept page for extend_template / extend_rubric
  docs/core_concepts/extending-runs.md
  docs/core_concepts/index.md
  docs/notebooks/core_concepts/extending-runs.ipynb
Due: none

rename extend_judgment to extend_template for sibling coherence
  src/karenina/benchmark/benchmark.py
  src/karenina/benchmark/verification/__init__.py
  src/karenina/benchmark/verification/extension.py
  src/karenina/schemas/verification/config.py
  tests/test_benchmark_extend_template.py
Due: mypy, vulture

feat(extend-rubric): add Benchmark.extend_rubric facade for post-hoc rubric evaluation
  src/karenina/benchmark/benchmark.py
  src/karenina/benchmark/verification/extension.py
  tests/test_benchmark_extend_rubric.py
Due: mypy, vulture

feat(verification): add Benchmark.extend_judgment API for replay-backed re-judging
  src/karenina/benchmark/benchmark.py
  src/karenina/benchmark/verification/__init__.py
  src/karenina/benchmark/verification/extension.py
  tests/test_benchmark_extend_judgment.py
Due: mypy, vulture
