Repository biocypher/karenina: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, vulture

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.2
    hooks:
      - id: ruff
        args: [--fix]
        files: ^(src/|tests/)
      - id: ruff-format
        files: ^(src/|tests/)

  # Type checking with mypy using local environment
  - repo: local
    hooks:
      - id: mypy
        name: mypy-type-check
        entry: uv run mypy
        language: system
        files: ^src/
        types: [python]
        pass_filenames: false
        args: [src/karenina]

      - id: vulture
        name: vulture-dead-code
        entry: uv run vulture
        language: system
        files: ^src/
        args: [src/karenina]

  # Note: pytest-testmon available via 'make test-changed' command
  # Excluded from pre-commit due to 0-test runs being treated as modifications

fix(ports): add capabilities property to AgentPort protocol (139)
  src/karenina/adapters/claude_agent_sdk/agent.py
  src/karenina/adapters/claude_tool/agent.py
  src/karenina/adapters/langchain/agent.py
  src/karenina/adapters/langchain_deep_agents/agent.py
  src/karenina/adapters/manual/__init__.py
  src/karenina/ports/agent.py
  tests/unit/adapters/conformance/test_agent_port.py
  tests/unit/adapters/langchain_deep_agents/test_agent.py
Due: mypy, vulture

fix(ports): add aclose() to LLMPort, AgentPort, ParserPort protocols (138)
  src/karenina/adapters/langchain_deep_agents/parser.py
  src/karenina/adapters/manual/__init__.py
  src/karenina/ports/agent.py
  src/karenina/ports/llm.py
  src/karenina/ports/parser.py
Due: mypy, vulture

fix(claude-tool): remove module-level load_dotenv() calls (090)
  src/karenina/adapters/claude_tool/agent.py
  src/karenina/adapters/claude_tool/llm.py
Due: mypy, vulture

fix: adapter & port protocol hygiene (Chunk 10) (#132)
  docs/advanced-adapters/available-adapters.md
  docs/advanced-adapters/mcp-integration.md
  docs/advanced-adapters/ports.md
  docs/advanced-adapters/writing-adapters.md
  docs/superpowers/plans/2026-03-23-adapter-hygiene.md
  docs/superpowers/specs/2026-03-23-adapter-hygiene-design.md
  src/karenina/adapters/claude_agent_sdk/agent.py
  src/karenina/adapters/claude_agent_sdk/errors.py
  src/karenina/adapters/claude_agent_sdk/llm.py
  src/karenina/adapters/claude_tool/agent.py
  src/karenina/adapters/claude_tool/llm.py
  src/karenina/adapters/langchain/agent.py
  src/karenina/adapters/langchain/llm.py
  src/karenina/adapters/langchain/trace.py
  src/karenina/adapters/langchain_deep_agents/agent.py
  src/karenina/adapters/langchain_deep_agents/errors.py
  src/karenina/adapters/langchain_deep_agents/llm.py
  src/karenina/adapters/langchain_deep_agents/mcp.py
  src/karenina/adapters/langchain_deep_agents/parser.py
  src/karenina/adapters/langchain_deep_agents/prompts/rubric.py
  src/karenina/adapters/manual/__init__.py
  src/karenina/benchmark/verification/evaluators/template/deep_judgment.py
  src/karenina/benchmark/verification/evaluators/template/evaluator.py
  src/karenina/benchmark/verification/utils/template_parsing_helpers.py
  src/karenina/ports/agent.py
  src/karenina/ports/errors.py
  src/karenina/ports/llm.py
  src/karenina/ports/parser.py
  tests/unit/adapters/claude_sdk/test_errors.py
  tests/unit/adapters/claude_sdk/test_mcp_config.py
  tests/unit/adapters/claude_tool/test_agent_adapter.py
  tests/unit/adapters/claude_tool/test_llm_adapter.py
  tests/unit/adapters/conformance/test_agent_port.py
  tests/unit/adapters/langchain/test_trace_tool_error.py
  tests/unit/adapters/langchain_deep_agents/test_agent.py
  tests/unit/adapters/langchain_deep_agents/test_errors.py
  tests/unit/adapters/langchain_deep_agents/test_llm.py
  tests/unit/adapters/langchain_deep_agents/test_mcp.py
  tests/unit/adapters/langchain_deep_agents/test_rubric_registration.py
  tests/unit/ports/test_protocols.py
Due: mypy, vulture

chore: update the gitignore
  .gitignore
Due: none

fix(cli,authoring): CLI consistency and authoring subsystem fixes (#13)
  src/karenina/benchmark/authoring/answers/generator_code.py
  src/karenina/benchmark/authoring/answers/reader.py
  src/karenina/benchmark/authoring/questions/extractor.py
  src/karenina/benchmark/authoring/questions/reader.py
  src/karenina/cli/verify.py
  src/karenina/cli/verify_config.py
  tests/unit/benchmark/authoring/test_authoring_fixes.py
  tests/unit/cli/test_cli_consistency.py
Due: mypy, vulture

docs(cli): update CLI reference for tri-state flags and embedding defaults
  docs/reference/cli/index.md
  docs/reference/cli/verify.md
  docs/reference/configuration/env-vars.md
Due: none

test(cli): add live CLI integration tests with real LLM calls
  src/karenina/cli/verify_config.py
  tests/integration/cli/test_cli_live.py
Due: mypy, vulture

fix(cli): CLI consistency fixes
  docs/reference/cli/index.md
  docs/reference/cli/verify.md
  docs/reference/configuration/env-vars.md
  src/karenina/cli/verify.py
  src/karenina/cli/verify_config.py
  tests/integration/cli/test_cli_live.py
  tests/unit/cli/test_cli_consistency.py
Due: mypy, vulture

fix(authoring): authoring subsystem fixes
  src/karenina/benchmark/authoring/answers/generator_code.py
  src/karenina/benchmark/authoring/answers/reader.py
  src/karenina/benchmark/authoring/questions/extractor.py
  src/karenina/benchmark/authoring/questions/reader.py
  tests/unit/benchmark/authoring/test_authoring_fixes.py
Due: mypy, vulture

fix(authoring): authoring subsystem fixes (#138)
  src/karenina/benchmark/authoring/answers/generator_code.py
  src/karenina/benchmark/authoring/answers/reader.py
  src/karenina/benchmark/authoring/questions/extractor.py
  src/karenina/benchmark/authoring/questions/reader.py
  tests/unit/benchmark/authoring/test_authoring_fixes.py
Due: mypy, vulture

feat(deep-judgment): add reasoning-only path in deep_judgment_parse()
  src/karenina/benchmark/verification/evaluators/template/deep_judgment.py
  src/karenina/benchmark/verification/prompts/task_types.py
  tests/unit/benchmark/verification/evaluators/test_deep_judgment_reasoning_only.py
Due: mypy, vulture

test(deep-judgment): add LLM integration test for reasoning-only mode
  tests/integration/test_deep_judgment_reasoning_only_api.py
Due: none

fix(dataframes): export rubric_evaluation_performed and rubric_evaluation_strategy columns
  src/karenina/schemas/dataframes/rubric.py
  tests/unit/schemas/dataframes/__init__.py
  tests/unit/schemas/dataframes/test_rubric_dataframe_metadata_columns.py
Due: mypy, vulture

docs: add implementation plan for rubric evaluation data loss (Chunk 22)
  docs/superpowers/plans/2026-03-23-rubric-evaluation-data-loss.md
Due: none

docs(deep-judgment): add reasoning-only mode documentation
  docs/advanced-pipeline/deep-judgment-templates.md
Due: none

feat(rubric): thread trait provenance through pipeline to DataFrame (Issue 020)
  src/karenina/benchmark/verification/batch_runner.py
  src/karenina/benchmark/verification/runner.py
  src/karenina/benchmark/verification/stages/core/base.py
  src/karenina/benchmark/verification/stages/pipeline/finalize_result.py
  src/karenina/benchmark/verification/stages/pipeline/rubric_evaluation.py
  src/karenina/benchmark/verification/utils/task_helpers.py
  src/karenina/schemas/dataframes/rubric.py
  src/karenina/schemas/verification/result_components.py
  tests/unit/schemas/dataframes/test_rubric_provenance_column.py
Due: mypy, vulture

feat(rubric): merge_rubrics() returns provenance tuple (Issue 020)
  src/karenina/benchmark/core/rubrics.py
  src/karenina/benchmark/verification/utils/task_helpers.py
  src/karenina/schemas/entities/rubric.py
  tests/unit/schemas/entities/test_rubric_provenance.py
  tests/unit/schemas/test_rubric_schemas.py
Due: mypy, vulture

docs: update deep judgment config API from two booleans to single mode field
  docs/advanced-pipeline/deep-judgment-rubrics.md
  docs/advanced-pipeline/deep-judgment-templates.md
  docs/advanced-pipeline/index.md
  docs/advanced-pipeline/stages.md
  docs/core_concepts/adele.md
  docs/core_concepts/questions-and-benchmarks/checkpoints.md
  docs/core_concepts/rubrics/index.md
  docs/core_concepts/verification-pipeline.md
  docs/reference/configuration/preset-schema.md
  docs/reference/configuration/verification-config.md
  docs/workflows/analyzing-results/verification-result.md
  docs/workflows/configuration/presets.md
  docs/workflows/running-verification/deep-judgment.md
  src/karenina/benchmark/verification/stages/README.md
Due: vulture

feat(config): add deep_judgment_reasoning_only field to config and context
  src/karenina/benchmark/verification/stages/core/base.py
  src/karenina/schemas/verification/config.py
  tests/unit/schemas/verification/test_config_reasoning_only.py
Due: mypy, vulture

fix(cli): update verify_config to use deep_judgment_mode parameter
  docs/advanced-pipeline/deep-judgment-templates.md
  src/karenina/benchmark/verification/batch_runner.py
  src/karenina/benchmark/verification/evaluators/template/deep_judgment.py
  src/karenina/benchmark/verification/evaluators/template/evaluator.py
  src/karenina/benchmark/verification/runner.py
  src/karenina/benchmark/verification/stages/core/base.py
  src/karenina/benchmark/verification/stages/core/orchestrator.py
  src/karenina/benchmark/verification/stages/helpers/results_exporter.py
  src/karenina/benchmark/verification/stages/pipeline/finalize_result.py
  src/karenina/benchmark/verification/stages/pipeline/parse_template.py
  src/karenina/benchmark/verification/utils/task_helpers.py
  src/karenina/cli/interactive.py
  src/karenina/cli/preset.py
  src/karenina/cli/verify_config.py
  src/karenina/scenario/manager.py
  src/karenina/schemas/dataframes/judgment.py
  src/karenina/schemas/results/judgment.py
  src/karenina/schemas/verification/config.py
  src/karenina/schemas/verification/result_components.py
  tests/e2e/test_preset_commands.py
  tests/integration/test_cache_optimization_integration.py
  tests/integration/test_dataframe_integration.py
  tests/integration/test_dataframe_integration_deep_judgment.py
  tests/integration/test_deep_judgment_reasoning_only_api.py
  tests/unit/benchmark/verification/evaluators/test_deep_judgment_reasoning_only.py
  tests/unit/benchmark/verification/stages/test_deep_judgment_autofail.py
  tests/unit/schemas/test_verification_config.py
  tests/unit/schemas/test_verification_config_overrides.py
  tests/unit/schemas/test_verification_result.py
  tests/unit/schemas/verification/test_config_reasoning_only.py
  tests/unit/test_rubric_evaluator_deep_judgment.py
  tests/unit/verification/test_orchestrator_issues.py
Due: mypy, vulture

feat(prompts): add reasoning-only deep judgment prompt builders
  src/karenina/benchmark/verification/prompts/deep_judgment/template/reasoning_only.py
  tests/unit/benchmark/verification/prompts/deep_judgment/__init__.py
  tests/unit/benchmark/verification/prompts/deep_judgment/test_reasoning_only_prompt.py
Due: mypy, vulture

fix: add metadata columns to empty rubric rows and fix dynamic provenance
  src/karenina/benchmark/verification/stages/pipeline/rubric_evaluation.py
  src/karenina/schemas/dataframes/rubric.py
Due: mypy, vulture

fix(prompts): add JSON output format to reasoning-only prompt
  src/karenina/benchmark/verification/prompts/deep_judgment/template/reasoning_only.py
Due: mypy, vulture

feat(deep-judgment): wire reasoning-only flag through parse template stage
  src/karenina/benchmark/verification/evaluators/template/evaluator.py
  src/karenina/benchmark/verification/stages/pipeline/parse_template.py
  tests/unit/benchmark/verification/stages/test_deep_judgment_autofail.py
Due: mypy, vulture

fix(pipeline): wire deep_judgment_reasoning_only through runner and batch_runner
  src/karenina/benchmark/verification/batch_runner.py
  src/karenina/benchmark/verification/runner.py
  src/karenina/benchmark/verification/utils/task_helpers.py
Due: mypy, vulture

docs: sync jupytext notebooks after deep_judgment_mode refactor
  docs/core_concepts/verification-pipeline.md
  docs/notebooks/core_concepts/adele.ipynb
  docs/notebooks/core_concepts/verification-pipeline.ipynb
  docs/notebooks/running-verification/deep-judgment.ipynb
Due: none

feat(deep-judgment): skip auto-fail stage in reasoning-only mode
  src/karenina/benchmark/verification/stages/core/base.py
  src/karenina/benchmark/verification/stages/pipeline/deep_judgment_autofail.py
Due: mypy, vulture

fix(config): reject reasoning_only + search_enabled combination
  src/karenina/schemas/verification/config.py
  tests/unit/schemas/verification/test_config_reasoning_only.py
Due: mypy, vulture

fix(dataframes): add missing columns and fix compare semantics in TemplateDataFrameBuilder
  src/karenina/schemas/dataframes/template.py
  src/karenina/schemas/results/template.py
  tests/unit/schemas/dataframes/test_template_builder_columns.py
Due: mypy, vulture

fix(dataframes): add missing columns, fix ghost rows, and add docs in RubricDataFrameBuilder
  src/karenina/schemas/dataframes/rubric.py
  tests/test_dynamic_rubric_dataframe.py
  tests/unit/schemas/dataframes/test_rubric_builder_columns.py
Due: mypy, vulture

fix(dataframes): add missing columns and private attribute in JudgmentDataFrameBuilder
  src/karenina/schemas/dataframes/judgment.py
  tests/unit/schemas/dataframes/test_judgment_builder_columns.py
Due: mypy, vulture

fix(tests): update deep judgment test for hallucination risk string type (#123)
  tests/unit/test_rubric_results_deep_judgment.py
Due: none

feat(dataframes): add LLM trait explanation plumbing (#154)
  src/karenina/schemas/dataframes/rubric.py
  src/karenina/schemas/verification/result_components.py
  tests/unit/schemas/dataframes/test_llm_trait_explanations.py
Due: mypy, vulture

fix(dataframes): enforce type consistency and scope agent metrics (#162, #123, #126)
  src/karenina/schemas/dataframes/judgment.py
  src/karenina/schemas/dataframes/rubric.py
  src/karenina/schemas/dataframes/template.py
  tests/unit/schemas/dataframes/test_type_consistency.py
Due: mypy, vulture

fix(dataframes): remove duplicate columns after rebase on troubleshooting
  src/karenina/schemas/dataframes/rubric.py
Due: mypy, vulture

fix: resolve post-rebase test failures
  src/karenina/cli/verify_config.py
  tests/unit/cli/test_cli_consistency.py
  tests/unit/schemas/dataframes/test_rubric_dataframe_metadata_columns.py
Due: mypy, vulture

refactor(dataframes): remove llm_trait_explanations plumbing (#154)
  src/karenina/schemas/dataframes/rubric.py
  src/karenina/schemas/verification/result_components.py
  tests/unit/schemas/dataframes/test_llm_trait_explanations.py
Due: mypy, vulture
